body {
  margin: 0;
  padding: 0;
	background: #f5f8fc;
	font-family: 'Noto Sans', sans-serif;

	h1 {
		margin: 0;
	}
}

.App__container {
	height: 2500px;
}

@import "header.scss";
@import "content.scss";
@import "footer.scss";